header{
  background-color: #1c398b;
  color: #fff;
}
header .row{
  position: relative;
}
.topHeader{
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.mainScr{
  padding: 250px 0;
  margin: 0 auto;
}
.headerCallback{
  width: 180px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #fff;
}
.pageHeader{
  font-size: 58px;
  font-weight: 600;
  margin-bottom: 20px;
}
.pageSubheader{
  max-width: 700px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  line-height: 1.2;
}
.primaryButton{
  width: 300px;
  height: 60px;
  border: 2px solid #fff;
  font-size: 18px;
  margin: 60px auto;
}
.btn{
  border-radius: 2px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0;
  line-height: 1;
}
.scrollDown{
  font-size: 13px;
  opacity: .5;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 48px);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.scrollDown p{
  margin-bottom: 10px;
}
.scrollButton{
  width: 25px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid rgba(255,255,255,.5);
  margin: auto;
  position: relative;
}
.scrollButton:after{
  position: absolute;
  width: 2px;
  height: 6px;
  display: block;
  content:'';
  background-color: #fff;
  top: calc(50% - 3px);
  left: calc(50% - 1px);
  transform: translateY(-6px);
}
.scrollDown:hover{
  opacity: 1;
  cursor: pointer;
}
@keyframes scroller {
  from{transform: translateY(-6px);}
  50%{transform: translateY(0);}
  to{transform: translateY(-6px);}
}
.scrollDown:hover .scrollButton::after{
  animation: scroller 1s infinite ease;
}

@media(max-width: 1199px){
  .pageHeader{
    text-align: center;
  }
}
@media(max-width: 991px){
  .pageHeader{
    font-size: 40px;
  }
}
@media(max-width: 767px){
  .topHeader{
    top: 20px;
  }
  .mainScr{
    padding: 100px 0;
  }
  .pageHeader{
    font-size: 30px;
  }
  .pageSubheader{
    font-size: 18px;
  }
  .primaryButton{
    margin: 30px auto;
    width: 200px;
    height: 40px;
  }
  .scrollDown p{
    margin-bottom: 0;
  }
}
@media(max-width: 575px){
  .topHeader{
    top: 10px;
    padding: 0 10px;
  }
  .pageHeader{
    font-size: 25px;
  }
  .pageSubheader{
    font-size: 16px;
  }
}
