@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600,700&subset=cyrillic');
@import url('header.css');
@import url('benefit.css');
@import url('mattressTypes.css');
@import url('about.css');
@import url('convenient.css');
@import url('quality.css');
@import url('thirdparty.css');
@import url('getMore.css');
@import url('footer.css');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
a{
  color: inherit;
}
p, h1, h2, h3{
  cursor: default;
}
a, a:hover, a:focus, a:active{
  text-decoration: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
a:hover, button:hover{
  filter: brightness(80%);
}
p{
  margin: 0;
  line-height: 2;
}
