.mattressTypesSection{
  padding: 100px 0;
  background-color: #fff;
  color: #333;
}
.mattressTypesSection__header{
  font-size: 42px;
  color: #1C398B;
  text-align: center;
  margin: 0;
  margin-bottom: 130px;
  font-weight: 300;
}
.mattress__image img{
  width: 100%;
}
.mattressDescription__header{
  font-size: 32px;
  color: #1C398B;
  margin-bottom: 25px;
  line-height: 1;
  font-weight: 500;
}
.mattressDescription__description{
  line-height: 2;
  margin-bottom: 20px;
  font-weight: 200;
}
.mattressDescription__link{
  width: 145px;
  height: 45px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0;
  color: #fff;
  font-size: 16px;
  background-color: #1C398B;
  border: 1px solid #1C398B;
  border-radius: 2px;
  font-weight: 600;
}
.mattress{
  -ms-align-items: center;
  align-items: center;
  padding: 80px 0;
}

@media(max-width: 1199px){
  .mattress{
    padding: 40px 0;
  }
  .mattressTypesSection{
    padding: 50px 0;
  }
}
@media(max-width: 991px){
  .mattressTypesSection__header{
    margin-bottom: 30px;
  }
  .mattressDescription__header{
    font-size: 25px;
  }
  .mattressDescription__description{
    font-size: 14px;
  }
  .mattressTypesSection__header{
    font-size: 35px;
  }
}
@media(max-width: 767px){
  .mattressDescription__header{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .mattressDescription__description{
    font-size: 12px;
    line-height: 1.2;
  }
  .mattress{
    padding: 20px 0;
  }
}
@media(max-width: 575px){
  .mattressTypesSection__header{
    font-size: 25px;
  }
  .mattress__description{
    order:2;
  }
  .mattress{
    margin-bottom: 40px;
  }
  .mattress__image{
    margin-bottom: 15px;
  }
  .mattressTypesSection{
    padding: 30px 0;
  }
}
